.filter-button {
  background: transparent;
  color: var(--color-text-2);
  transition: all 0.5s ease;
}

.filter-button:hover {
  background: var(--color-background-soft);
}

.filter-button.selected {
  color: var(--color-text-1);
  background: var(--color-background-mute);
  padding: 8px;
}