.notification-popup {
	width: 40vh;
	height: 50vh;
	overflow: auto;
}

.notification-icon {
	position: relative;
	cursor: pointer;
}

.notification-list {
	padding-left: 0;
}

.notification-list > li {
	font-size: 12px;
	list-style-type: none;
  padding: 4px 0;
}

.notification-list > li.unread {
	color: var(--color-text-1);
	list-style-type: disc;
}

.notification-badge {
	position: absolute;
	background: red;
  color: white;
	top: 0;
	right: 4px;
	font-size: 8px;
	border-radius: 25px;
	height: 13px;
	width: 13px;
}
